[Desktop Entry]
Version=1.0
Type=Link
Name=graficos
Comment=
Icon=user-bookmarks
URL=https://github.com/ProjetosStart/analise-de-dados/tree/aula09/graficos
